*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover{
    color: rgb(75, 75, 75);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    font-size: 16px;
    position: relative;
    width: 100%;
}



.nav-container{
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    background-color: whitesmoke;
}

.navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
}


.logo {
    width: 200px;
}

#section-1{
    width: 100%;
    height: 400px;
    background-image: url(bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container-main{
    width: 100%;
    height: 400px;
    align-items: center;
    display: flex;
    background-color: rgba(0, 13, 85, 0.596);
    padding: 20px;
}

h1 {
    width: 100%;
    color: whitesmoke;
    font-size: 24px;
    margin: auto 0;
    text-align: left;
    line-height: 1.2;
    font-weight: bold;
}


h2{
    text-align: center;
    line-height: 1.4;
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: 1.2;
    letter-spacing: 0.7;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding-bottom: 30px;
    margin-top :20px;
    margin-bottom: 35px;
}


h3{
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
    text-transform: uppercase;
    word-spacing: 1.2;
    letter-spacing: 0.7;
    padding-bottom: 20px;
}

h4{
    width: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-align: left;
    line-height: 1.2;
    font-weight: bold;
}


.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 5%;
    border-radius: 50px;
    transform: translate(-50%, -100%);
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid whitesmoke;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

#section-2{
    width: 100%;
}

.container{
    padding: 17px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(young.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.background-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(book.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.background-3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(typewriter.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}




.video-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

iframe{
    width: 100%;
    max-width: 560px;
}


.sous-titre{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

#section-3{
    width: 100%;
}

.partnairs-container{
    padding: 10px;
    width: 100%;
}

.partnairs-container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.partnairs-container img{
    padding: 10px;
    width: 100%;
}

#section-4{
    width: 100%;
}

.btn-2{
    padding: 5px;
    width: 150px;
    font-size: 16px;
}


#section-5{
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    position: relative;
}

#section-5 img{
    margin-top: 30px;
    width: 100%;
}

#section-6{
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    position: relative;
}

.rouge-padd30{
    font-size: 16px;
    padding: 0 20px 20px;
    color: tomato;
    font-weight: bold;
    font-style: italic;
}

#section-7{
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: rgb(85, 85, 85);
    font-size: 16px;
    letter-spacing: 1.4;
}

footer a:hover{
    color: rgb(0, 0, 0);
}

.scroll-up{
    height: 30px;
    width: 30px;
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    bottom: 150px;
    border-radius: 50%;
    transform: translate(-50%, -100%);
    cursor: pointer;
}

.scroll-up:hover{
    border: 3px solid rgb(10, 1, 61);
    transition: 0.5s ease-in-out;
}

.scroll-up p{
    font-size: 8px;
    transform: translate(0%, 110%);
}

.scroll-up::before,
.scroll-up::after{
    content: '';
    position: absolute;
    top: 70%;
    left: 50%;
    border: 2px solid rgb(0, 0, 0);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-bottom: transparent;
    border-right: transparent;
    animation: scroll 1s ease-in-out infinite;
}

footer p{
    text-align: center;
}


@media screen and (min-width: 350px){
    iframe{
        width: 100%;
        height: 180px;
    }
    .scroll-up{
        bottom: 140px;
    }
    #section-7 img{
        width: 270px;
    }
    
}

@media screen and (min-width: 400px){
    iframe{
        height: 200px;
    }

    .grid{
        width: 380px;
        margin: 0 auto;
    }

    .logo {
        width: 200px;
    }
    
}

@media screen and (min-width: 450px){
    iframe{
        height: 220px;
    }

    .logo {
        width: 250px;
    }
    
}

@media screen and (min-width: 480px){
    .scroll-up{
        bottom: 130px;
    }
    
}

@media screen and (min-width: 490px){
    .scroll-up{
        bottom: 120px;
    }
    
}

@media screen and (min-width: 500px){
    iframe{
        height: 240px;
    }
    
}

@media screen and (min-width: 500px){
    #section-7 img{
        width: 400px;
    }
    
}

@media screen and (min-width: 800px){
    #section-7 img{
        width: 700px;
    }

    .scroll-up{
        height: 35px;
        width: 35px;
        bottom: 110px;
    }

    .scroll-up p{
        font-size: 9px;
        transform: translate(0%, 140%);
    }
    
}



@media screen and (min-width: 900px){
    h1{
        font-size: 34px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }

    h4{
        font-size: 34px;
    }

    p{
        font-size: 20px;
    }
    
    .sous-titre{
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }

    .rouge-padd30{
        font-size: 18px;
        word-spacing: 1.2;
    }

    .p-container{
        width: 70%;
        margin: 0 auto;
    }
    .scroll-up{
        height: 40px;
        width: 40px;
        bottom: 115px;
    }

    .scroll-up p{
        font-size: 10px;
        transform: translate(0%, 140%);
    }
}


@media screen and (min-width: 1000px){
    .scroll-up{
        bottom: 85px;
    }
    
}

@media screen and (min-width: 1045px){
    .scroll-up{
        bottom: 70px;
    }
    
}

@media screen and (max-width: 770px){
    
    h1{
        margin-top: 75px;
    }

    #section-1{
        height: 250px;
    }

    .background-1 {
        height: 250px;
    }

    .container-main{
        height: 250px;
    }

    .scroll-down{
        transform: translate(-50%, 0%) scale(0.9);
    }
}


@media screen and (max-width: 550px){
    
    .scroll-down{
        transform: translate(-50%, 10%) scale(0.8);
    }
}
